/* Estilos Gerais */
:host {
display: block;
  width: 100vw;      /* largura da viewport */
  height: 100vh;     /* altura da viewport */
  background-color: #f4f7fa;
  padding: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box; /* inclui padding na largura/altura */
}

.dashboard-container {
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  border: 1px solid #e0e0e0;
}







.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
}

.btn-primary {
  background-color: #212529;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #343a40;
}

.btn-secondary {
  background-color: #ffffff;
  color: #212529;
  border: 1px solid #ced4da;
}

.btn-secondary:hover {
  background-color: #f8f9fa;
}


/* Header */
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.header-title h1 {
  margin: 0;
  font-size: 1.8rem;
  color: #333;
}

.header-title p {
  margin: 0;
  color: #666;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn-logout {
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
  font-weight: 600;
}


/* Seção de Cartões de Ação */
.action-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.action-card {
  display: flex;
  flex-direction: column;
}

.title{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.action-card h2 {
  font-size: 1.2rem;
  margin: 0;
}

.action-card p {
  color: #666;
  margin: 0;
  margin-bottom: 1.2rem;

  /* flex-grow: 1;
  margin-bottom: 1.5rem; */
}

.action-card i.rv{
  color: blue;

}

.action-card i.gv{
  color: green;

}

.action-card i.pa{
  color: purple;

}


/* Seção de Cartões de Estatísticas */
.stats-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}

.stat-card {
  text-align: left;
}

.stat-card h3 {
  margin: 0 0 0.5rem 0;
  color: #555;
  font-size: 1rem;
  font-weight: 500;
}

.stat-card .stat-number {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
}

.profile-card p {
  font-weight: 600;
  color: #007bff;
  cursor: pointer;
}
